:root {
    /* 窗口的颜色 */
    --billadm-color-major-backgroud-color: #fff;
    --billadm-color-minor-backgroud-color: #f4f4f4;
    --billadm-color-window-border-color: #ccc;

    /* 按钮的颜色 */
    --billadm-color-icon-color: #9d9d9d;
    --billadm-color-icon-hover-bg-color: #e0e0e0;
}