:root {
    /* 窗口的颜色 */
    --billadm-color-major-backgroud-color: #ffffff;
    --billadm-color-minor-backgroud-color: #f5f5f5;
    --billadm-color-window-border-color: #cccccc;

    /* 按钮的颜色 */
    --billadm-color-icon-color: #7a7a7a;
    --billadm-color-icon-hover-bg-color: #e0e0e0;
}